#web: gunicorn OURNAME.wsgi --log-file  /chanege ourname with apps.py --> appname
#stuff for database
#web: python manage.py migrate && gunicorn OURNAME.wsg  /chanege ourname with apps.py --> appname


web: gunicorn website.wsgi --log-file
#stuff for database
web: python manage.py migrate && gunicorn website.wsg